<div class="input">
    <input class="input__element" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" autocomplete="off">
    <span class="input__placeholder">{{placeholder}}</span>
    <span class="input__message">{{errorMessage}}</span>
</div>