<input class="input__element" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" autocomplete="off" {{#if required}}required{{/if}} {{#if pattern}}pattern="{{pattern}}"{{/if}}>
<span class="input__placeholder">{{placeholder}}</span>
<span class="input__message">{{errorMessage}}</span>
